<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<style>

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(34,37,41);
  background-color: coral;
}
</style>

<head>
	<title>Spotify App</title>
		<div class="collapse" id="navbarToggleExternalContent">
		  <div class="bg-dark p-4">
		    <h5 class="text-white h4">A Spotify Web Application</h5>
		    <span class="text-muted">I'd consider this a fair, albeit limited, representation of my passions. Carefully crafted by William Furtado.</span>
		  </div>
		</div>
		<nav class="navbar navbar-dark bg-dark">
		  <div class="container-fluid">
		  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <a class="d-flex" href="#" style="color:White; text-decoration:none"><i>Sing Me A Story</i></a>
		    <a class="d-flex" href="https://github.com/willfurtado/spotify-app" style="color:White">Code</a>
		  </div>
		</nav>
	<style>
		body {
		  background-color: coral;
		}
	</style>
	<div class="center">
		</head>
		<body>
			<h1 class="display-3" style="text-align:center"><i>Sing Me A Story</i></h1>
			<br>
			<form method="POST">
	    		<input name="text" class="form-control" type="text" placeholder="Enter any sentence" aria-label="input" autocomplete="off">
			</form>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		</body>
	</div>
</html>