<html>

<style>
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: Black;
  background-color: coral;
  font-family: 'Arial'
}
</style>

<head>
	<title>Spotify App</title>
	<style>
		body {
		  background-color: coral;
		}
	</style>
	<div class="center">
		</head>
		<body>
			<h1 style="text-align:center">Sing Me A Bedtime Story: A Spotify App</h1>
			<h3 style="text-align:center"><p><b>By William Furtado</b></p>
			<form method="POST" style="text-align:center">
				<label for="text">Enter any sentence:</label>
	    		<input name="text">
	    		<input type="submit">
			</form>
		</body>
	</div>
</html>